:root {
    --page-backround: linear-gradient(180deg, #101924, #16202C);
    --page-text-highlight: #5FA7D2;
    --page-background-highlight: #212D3E;
    --first-page-text: #6C6D6F;
    --second-page-text: #C5C3C0;
    --header-background: #191A1F;
    --content-background: #161A21;
    --install-btn-background: #60821B;
    --online-text: #4DA652;
    --profile-extras: #364D70;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--page-backround);
    height: 100vh
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    min-height: 8.5vh;
    background-color: var(--header-background);
    box-shadow: 0 2px 8px -2px black;
}

.logo {
    max-width: 12%;
}

.header-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header-nav > a {
    color: var(--second-page-text);
    text-decoration: none;
    font-size: 1.2em;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.install-btn {
    background-color: var(--install-btn-background);
    color: var(--second-page-text);
    padding: 6px 12px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 3%;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-info > p {
    color: var(--second-page-text);
}

.player-profile {
    background-color: var(--content-background);
    margin-left: 20px;
    margin-top: 50px;
}

.pfp {
    border: 3px solid var(--profile-extras);
    border-radius: 2%;
}